/* .animating {
  animation: rotate-mill 24s infinite linear;
}

@keyframes rotate-mill {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */

/* Crazy Colors sat 10 -80 hue 340 */
.filtered-video {
  filter: brightness(1) saturate(1) invert(0) hue-rotate(0deg) contrast(1.1);
} 
 .transformed-video {
  transform: translateY(-200px);
}

canvas { 
  transform: scale(2) translate(25%,-25%)  !important;
}